@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}

.card{
  margin-top: 50px;
  width: 95% !important;
  margin: auto;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.admin-title{
  text-align: center;
  margin-block: 50px !important;
  font-weight: 600;
  color: gray;
}